@import "tailwindcss";
@import "daisyui/daisyui.css";
@import "daisyui/themes.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --foreground-rgb: 231 229 228;
    --background-rgb: 231 229 228;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 39 39 42;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

@utility text-balance {
    text-wrap: balance;
}
